* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
}

p {
  max-width: 80%;
  text-align: center;
  padding: 20px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
