* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

img {
  max-width: 25%;
  border-radius: 20px;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  max-width: 50%;
  text-align: center;
}
